table th,
table td {
  text-align: center;
  align-items: center;
}



.titlePage {
  border: 5px solid whitesmoke;
  border-radius: 3%;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.titlePage button {
  margin-top: 3%;
}


.titlePage p {
  margin-top: 15px;
  font-size: 20px;
  color: lightseagreen;
}

.titlePage span {
  color: #6b6b6b;
  font-size: 15px;
}

.userType {
  border: 5px solid whitesmoke;
  border-radius: 3%;
  padding: 5px;
  padding-left: 2%;
  align-items: center;
  font-size: 14px;
  width: 20%;
}



@media(max-width:991px) {

  .titlePage {
    height: 70px;
  }

  .userType {
    width: 40%;
  }


  .userss table caption,
  .catergoriess table caption,
  .topicss table caption,
  .commentss table caption {
    font-size: 1.3em;
  }

  .userss table thead,
  .catergoriess table thead,
  .topicss table thead,
  .commentss table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  .userss table tr,
  .catergoriess table tr,
  .topicss table tr,
  .commentss table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    font-size: 15px;

  }

  .userss table td,
  .catergoriess table td,
  .topicss table td,
  .commentss table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 15px;
    text-align: left;
  }

  .userss table td::before,
  .catergoriess table td::before,
  .topicss table td::before,
  .commentss table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .userss table td:last-child,
  .catergoriess table td:last-child,
  .topicss table td:last-child,
  .commentss table td:last-child {
    border-bottom: 0;
  }
}