.titlePageUpdatePassword {
    border-bottom: 2px solid rgba(0, 0, 0, 0.507);
    align-items: center;
    margin-bottom: -15%;
    display: flex;
    align-items: center;
    height: auto;
}



.titlePageUpdatePassword p {
    margin-top: 15px;
    color: #28a745;
    font-size: 20px;
}


@media(max-width:991px) {

    .titlePageUpdatePassword {
        height: 70px;
    }
}