.foot {
	background-image: url('/src/images/white.jpg');
	border-top-left-radius: 10%;
}



.footer-distributed {
	background: #7c7b7b60;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 10px 30px;
	border-top-left-radius: 10%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}


.link-1:hover {
	opacity: 0.6;
}

.link-2:hover {
	opacity: 0.6;
}

.link-3:hover {
	opacity: 0.6;
}

.link-4:hover {
	opacity: 0.6;
}


/* The company logo */

.footer-distributed h3 {
	color: #504d4d;
	font-family:'Levenim MT';
	margin: 3%;
}

.footer-distributed h3 span {
	color: #28a745;
}

/* Footer links */

.footer-distributed .footer-links {
	color: #000000;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: flex;
	line-height: 1.8;
	font-weight: 500;
    flex-direction: column;
	text-decoration: none;
	text-align: center;
	align-items: center;
	color: inherit;
	
}

.footer-distributed .footer-company-name {
	color: #222;
	font-size: 12px;
	font-weight: normal;
	margin: 3%;
	font-family: Verdana;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #d2d5d6;
	color: #000000;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #504d4d;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 15px;
	line-height: 2;
	font-family: Verdana;
}

.footer-distributed .footer-center p a {
	color: rgb(59, 56, 56);
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
	content: " ";
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: rgb(0, 0, 0);
	display: inline-block;
	padding-right: 5px;
}



.footer-distributed .footer-links .link-1:before {
	content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #504d4d;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	font-family: Verdana;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #28a745;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: Verdana;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #000000;
	text-align: center;
	line-height: 35px;

	margin-right: 7px;
	margin-bottom: 5px;
}

.image1:hover {
	opacity: 0.6;
}

.image2:hover {
	opacity: 0.6;
}

.image3:hover {
	opacity: 0.6;
}

.image4:hover {
	opacity: 0.6;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}

}